// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resort {
  margin-top: 40px;
}

.resorts-link {
  margin-bottom: 30px;
  a {
    color: #ff0000;
  }
}